
.about {
    padding-bottom: calc(10rem - 4.5rem);
    background-color: #fafafa;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 10rem 0;
}
    
.about-title {
    text-transform: uppercase;
    margin-top: 0;
    font-size: 5vw;
    margin-bottom: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #000;
    font-weight: bold;
}
    
.about-text {
    font-size: 2rem;
    line-height: 1.6;
    color: #000;
}
    
.title-conatiner {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.info-wrapper {
    display: flex;
    padding-top: 9rem;
}

.info-box {
    width: 100%;
    padding: 0 20px;
}

.info-box--text {
    font-size: 1.8rem;
	color: #666;
	max-width: 60rem;
	line-height: 1.7;
	margin-bottom: 3rem;
}

.info-title {
    font-weight: 700;
	font-size: 2.8rem;
	margin-bottom: 3rem;
}

.skills {
	display: flex;
	flex-wrap: wrap;
}

.skills__skill {
    padding: 1rem 2rem;
	margin-bottom: 1.5rem;
	margin-right: 1.5rem;
	font-size: 1.6rem;
	background: rgba(153, 153, 153, 0.2);
	border-radius: 5px;
	font-weight: 600;
	color: #666;
}

@media only screen and (max-width: 760px) {
    .info-wrapper {
        display: block;
    }
    .about-title {
        font-size: 4rem;
    }
}