
.about {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
background-color: black;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 10rem 0;
}
    
.about-title {
   text-transform: uppercase;
    margin-top: 0;
    font-size: 5vw;
    margin-bottom: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    font-weight: bold;
}
    
.about-text {
    font-size: 2rem;
    line-height: 1.6;
    color: #fff;
}
    
.about .container {
    max-width: 970px;
    text-align: center;
}