
.masthead {
    padding-top: calc(25rem - 4.5rem);
    padding-bottom: calc(25rem - 6.5rem);
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,1) 100%), url("https://images.unsplash.com/photo-1518773553398-650c184e0bb3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: relative;
}

.ri-arrow {
    width: 42px;
    height: 42px;
    color: #ccc;
    margin-top: 1em;
}

.masthead .container {
    text-align: center;
    position: static;
}

.intro-title  {
	font-size: 10vw;
    color: #fff;
    margin: 0 0 5px 0;
	text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
	text-shadow: 1px 3px 11px rgba(0,0,0,.3);
    font-weight: bold;
}

.intro-subtitle  {
    font-size: 22px;
    font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 3.2px;
    color: #fff;
}

.learnmore {
    display: block;
	margin-top: 4vh;
}

.masthead a {
    text-decoration: none;
}

.intor-colmn {
    width: 100%;
	flex-direction: column;
}

.masthead .learnmore a {
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: normal;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	pointer-events: all;
	cursor: pointer;
	letter-spacing: .05em;
	padding: 1em 3em;
	display: inline-block;
	background-color: transparent;
	transition: all .3s ease-in-out;
	text-align: center;
    margin-right: 2em;
	overflow: hidden;
	position: relative;
	box-shadow: inset 0 0 0 2px #f05323;
}

.masthead .learnmore a:hover {
    background-color: #f05323;
    color: #fff;
}
  
@media (max-width: 768px) {
    .masthead {
        padding-top:0;
        padding-bottom: 0;
    }
    .masthead p {
        font-size: 1.55rem;
    }
    .masthead .learnmore a {
        margin: 10px;
    }
    .intro-title  {
        font-size: 11vw;
    }
    .learnmore {
        display: flex;
        padding: 0 3rem;
        flex-direction: column;
    }
    .intor-colmn {
        padding: 0 3rem;
    }
    .intro-subtitle {
        font-size: 16px;
    }
}
