
.header {
    position: fixed;
    top:0;
    width: 100%;
    height: 70px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    z-index: 10;
    
}

.header.fixed {
    background-color:rgba(0, 0, 0, 0.9);
}

.header .nav-menu {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: -100%;
    top: 0;
    text-align: center;
    width: 100%;
    height: auto;
    z-index: -1;
    transition: .3s all cubic-bezier(0.77, 0, 0.175, 1);
    background-color: #000;
    margin: 0;
    padding: 9em 0;
}

.header .nav-menu li  {
    padding: 1rem 1.5rem;
    font-size: 16px;
}

.header .nav-menu a {
   color: #ffffff;
   font-size: 1.4em;
}

.logo-dark {
    display: block;
}

.logo-title {

    max-width: 150px;
}

.header .hamburger {
    color: #fff;
    padding-right: 1.5rem;
    font-size: 16px;
    position: absolute;
    left: 15px;
}
    
.header .nav-menu.opened {
    left: 0;
}
@media only screen and (max-width: 760px) {

    .header .nav-menu {
        padding-top: 9em;
        height: 100vw;
    }
    .logo-title {
        left: 1.2rem;
        max-width: 120px;
    }

    
}