.portfolio {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	position: relative;
    padding: 8rem 0;
    background-color: #fff;
    border: 0;
}

.work-title {
    text-transform: uppercase;
     margin-top: 0;
     font-size: 5vw;
     margin-bottom: 30px;
     font-family: 'Roboto Condensed', sans-serif;
     color: #000;
     font-weight: bold;
 }
     
 .work-text {
     font-size: 2rem;
     line-height: 1.6;
     color: #000;
 }

 .title-conatiner {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.project-gird {
    padding-top: 2rem;
    margin: 0 auto;
}

.project-row {
    display: flex;
    margin-top: 2rem;
}

.project-box {
    width: 100%;
    padding: 30px 20px;
}

.project-title {
    font-weight: 700;
	font-size: 2.8rem;
    margin: 2rem 0;
}

.tech {
	display: flex;
	flex-wrap: wrap;
}

.order {
    order: 1;
}

.tech__skill {
    padding: 1rem 2rem;
	margin-bottom: 1.5rem;
	margin-right: 1.5rem;
	font-size: 1.3rem;
	background: rgba(153, 153, 153, 0.2);
	border-radius: 5px;
	font-weight: 600;
	color: #666;
}

@media only screen and (max-width: 760px) {
    .project-row {
        display: block;
    }
    .work-title {
        font-size: 4rem;
    }
    .order {
        order: 0;
    }
    .project-box {
        padding: 15px 20px;
    }
}