.skills {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	position: relative;
    padding: 8rem 0;
    background-color: #fff;
    line-height: 1.42857143;
}

.inner {
    padding: 0 45px;
    text-align: center;
}

.inner p {
    font-size: 18px;
	font-weight: 100;
	margin-bottom: 2em;
    max-width: 380px;
}

.inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.inner li {
    font-size: 18px;
    font-weight: 100;
    display: list-item;
	text-align: -webkit-match-parent;
}

.skills-title {
    font-size: 2rem;
	font-weight: bold;
	margin-top: 10px;
    color: #000;
	margin-bottom: 1.5em;
}

p.list-title {
    color: #f05323;
    margin-bottom: 0;
    font-weight: 500;
}

.fa-laptop,
.fa-drafting {
    font-weight: 100;
	font-size: 5rem;
	color: #f05323;
	margin-bottom: 15px;
}

@media only screen and (max-width: 768px) {
    .skills {
        padding: 4rem 0 0 0;
    }
    .skills-colmn {
        flex-direction: column;
        padding: 0 15px;
    }
    .inner {
        padding: 4rem 20px;
    }     
}